<% include header.html %>

    <div class="row">
        <div class="ui grid">
            <div class="twelve wide column">
                <form action="" class="ui form" method="POST">
                    <h2 class="ui header">发表话题</h2>
                    <div class="field required">
                        <label for="">板块</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="tag">
                            <div class="default text">板块</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <% tags.slice(1).forEach((tag) => { %>
                                    <div class="item" data-value="<%= tag %>"><%= tag %></div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="field required">
                        <label for="">标题</label>
                        <input type="text" name="title" placeholder="标题字数不少于10字">
                    </div>
                    <div class="field required">
                        <label for="">内容</label>
                        <textarea name="content" id="" cols="30" rows="10"></textarea>
                    </div>
                    <input type="submit" class="ui button" value="发布">
                </form>
            </div>
            <div class="four wide column">

                <% include ./component/userCard.html %>
                    <% include ./component/noReplyCard.html %>

            </div>

        </div>
    </div>

    <% include footer.html %>